  VITE_FIREBASE_API_KEY=<incluir aqui los datos de la app de firebase>
  VITE_FIREBASE_AUTH_DOMAIN=<incluir aqui los datos de la app de firebase>
  VITE_FIREBASE_PROJECT_ID=<incluir aqui los datos de la app de firebase>
  VITE_FIREBASE_STORAGE_BUCKET=<incluir aqui los datos de la app de firebase>
  VITE_FIREBASE_MESSAGING_SENDER_ID=<incluir aqui los datos de la app de firebase>
  VITE_FIREBASE_APP_ID=<incluir aqui los datos de la app de firebase>